<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.ICheckinginDao">
<!-- 新增的方法写在这里 -->


<!-- 保存非空列,返回受影响的行数 -->
	<insert id="saveSelective" useGeneratedKeys="true" keyProperty="Vo.id">
		Insert Into tb_checkingin 
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Vo.checkStatusName != null">check_status_name,</if>
		</trim>
		<trim prefix="Values (" suffix=")" suffixOverrides=",">
            <if test="Vo.checkStatusName != null">#{Vo.checkStatusName},</if>
		</trim>
	</insert>
    
    <!-- 根据主键删除-->
	<delete id="delete">
		Delete From tb_checkingin
		Where id = #{id}
	</delete>
    
    <!-- 删除所有记录,返回受影响的行数 -->
	<delete id="deleteAll">
		Delete From tb_checkingin
	</delete>
    
    <!-- 更新非空列,返回受影响的行数 -->
	<update id="updateSelective">
		Update tb_checkingin
		<trim prefix="Set" suffixOverrides=",">
            <if test="Vo.checkStatusName != null">check_status_name = #{Vo.checkStatusName},</if>
		</trim>
		Where tb_checkingin.id = #{Vo.id}
	</update>
    
    <resultMap type="CheckinginVo" id="RM_Default">
        <id column="Checkingin_id" property="id"/>
        <result column="Checkingin_checkStatusName" property="checkStatusName"/>
	</resultMap>
    
     <!-- ResultMap -->
	<resultMap type="CheckinginVo" id="RM_getVo_Auto">
		<discriminator javaType="int" column="_chooseRM">
			<case value="0" resultMap="RM_Default" /><!-- Auto -->
		</discriminator>
	</resultMap>
    
    <!-- 根据主键查询一条记录,通过'__chooseRM'控制返回的列 -->
	<select id="getVo_Auto" resultMap="RM_getVo_Auto">
		Select
		<include refid="Sql_SelectColumns" />
		#{chooseRM} As _chooseRM
		From	tb_checkingin	As	tb_checkingin
		Where
		tb_checkingin.id = #{id}
	</select>
    
    <!-- 传入id,判断是否存在该记录 -->
	<select id="isExist_Auto" resultType="boolean">
		Select Count(id) > 0
		From	tb_checkingin	As	tb_checkingin
		Where
		tb_checkingin.id = #{id}
	</select>
    
    <!-- 查询记录数量 -->
	<select id="queryCount_Auto" resultType="Long">
		Select Count(tb_checkingin.id)
		From	tb_checkingin	As	tb_checkingin
        <trim prefix="Where" prefixOverrides="And | Or">
			<include refid="Sql_Where"/>
		</trim>
	</select>
    
    <resultMap type="CheckinginVo" id="RM_queryVos_Auto">
        <discriminator javaType="int" column="_chooseRM">
			<case value="0" resultMap="RM_Default" /><!-- Auto -->
		</discriminator>
	</resultMap>
    
    <!-- 查询记录集合,通过'__chooseRM'控制返回的列 -->
	<select id="queryVos_Auto" resultMap="RM_queryVos_Auto">
		Select
		<include refid="Sql_SelectColumns"/>
		#{CheckinginSearch.chooseRM} As _chooseRM
		From	tb_checkingin	As	tb_checkingin
        <trim prefix="Where" prefixOverrides="And | Or">
			<include refid="Sql_Where"/>
		</trim>
		<include refid="Sql_Order"/>
		Limit #{CheckinginSearch.offset},#{CheckinginSearch.limit}
	</select>
    

    <resultMap type="CheckinginVo" id="RM_getVo_AdminView">
		<!-- <discriminator javaType="int" column="_chooseRM"> -->
        <id column="Checkingin_id" property="id"/>
        <result column="Checkingin_checkStatusName" property="checkStatusName"/>
        <result column="Checkingin_desc" property="desc"/>
		<!-- </discriminator> -->
	</resultMap>
    
    <!-- 根据主键查询一条记录,专供AdminView调用 -->
	<select id="getVo_AdminView" resultMap="RM_getVo_AdminView">
		Select
		<include refid="Sql_SelectColumns" />
		#{chooseRM} As _chooseRM
		From	tb_checkingin	As	tb_checkingin
		Where
		tb_checkingin.id = #{id}
	</select>
    
    <resultMap type="CheckinginVo" id="RM_getVo_preAdminEdit">
		<!-- <discriminator javaType="int" column="_chooseRM"> -->
        <id column="Checkingin_id" property="id"/>
        <result column="Checkingin_checkStatusName" property="checkStatusName"/>
		<!-- </discriminator> -->
	</resultMap>
    
    <!-- 根据主键查询一条记录,专供preAdminEdit调用 -->
	<select id="getVo_preAdminEdit" resultMap="RM_getVo_preAdminEdit">
		Select
		<include refid="Sql_SelectColumns" />
		#{chooseRM} As _chooseRM
		From	tb_checkingin	As	tb_checkingin
		Where
		tb_checkingin.id = #{id}
	</select>
    
    <resultMap type="CheckinginVo" id="RM_getVo_AdminEdit">
		<!-- <discriminator javaType="int" column="_chooseRM"> -->
        <id column="Checkingin_id" property="id"/>
        <result column="Checkingin_checkStatusName" property="checkStatusName"/>
		<!-- </discriminator> -->
	</resultMap>
    
    <!-- 根据主键查询一条记录,专供AdminEdit调用 -->
	<select id="getVo_AdminEdit" resultMap="RM_getVo_AdminEdit">
		Select
		<include refid="Sql_SelectColumns" />
		#{chooseRM} As _chooseRM
		From	tb_checkingin	As	tb_checkingin
		Where
		tb_checkingin.id = #{id}
	</select>
    
    <resultMap type="CheckinginVo" id="RM_queryVos_AdminList">
		<!-- <discriminator javaType="int" column="_chooseRM"> -->
        <id column="Checkingin_id" property="id"/>
        <result column="Checkingin_checkStatusName" property="checkStatusName"/>
		<!-- </discriminator> -->
	</resultMap>
    
    <sql id="Sql_SelectColumns">
        tb_checkingin.id As Checkingin_id,
        tb_checkingin.check_status_name As Checkingin_checkStatusName,
	</sql>
    
    <sql id="Sql_Order">
		<trim prefix="Order By ">
    		<choose>
                <when test="CheckinginSearch.sort != null">
                    Checkingin_${CheckinginSearch.sort} 
                    <if test="CheckinginSearch.order != null">
                        ${CheckinginSearch.order}
                    </if>
                </when>
                <otherwise>
                    Checkingin_id Desc
                </otherwise>
            </choose>
		</trim>
	</sql>
    
    <sql id="Sql_Where">
        <if test="CheckinginSearch.eqId != null">
			<![CDATA[ And tb_checkingin.id = #{CheckinginSearch.eqId} ]]>
		</if>
		<if test="CheckinginSearch.neId != null">
			<![CDATA[ And tb_checkingin.id != #{CheckinginSearch.neId} ]]>
		</if>
        <if test="CheckinginSearch.eqCheckStatusName != null">
			<![CDATA[ And tb_checkingin.check_status_name = #{CheckinginSearch.eqCheckStatusName} ]]>
		</if>
		<if test="CheckinginSearch.lkCheckStatusName != null">
			<![CDATA[ And tb_checkingin.check_status_name Like '%${CheckinginSearch.lkCheckStatusName}%' ]]>
		</if>
    </sql>
</mapper>


