<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.EmpCheckingMapper">
    <resultMap id="EmpCheckingBean" type="com.hfxt.cmp.model.EmpChecking">
        <id column="empCheckingId" jdbcType="INTEGER" property="empcheckingid"/>
        <result column="cheTime" jdbcType="TIMESTAMP" property="chetime"/>
        <result column="cheStatus" jdbcType="INTEGER" property="chestatus"/>
        <result column="empCheckDesc" jdbcType="VARCHAR" property="empcheckdesc"/>
        <collection property="employee" resultMap="com.hfxt.cmp.mapper.EmployeeMapper.EmployeeBean"/>
    </resultMap>
    <sql id="Base_Column_List">
        empCheckingId, empId, cheTime, cheStatus, empCheckDesc
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="EmpCheckingBean">
        select
        <include refid="Base_Column_List"/>
        from tb_employee_checking
        where empCheckingId = #{empcheckingid,jdbcType=INTEGER}
    </select>

    <select id="getEmpCheck"  parameterType="com.hfxt.cmp.model.EmpChecking"  resultMap="EmpCheckingBean">
        select *
        from tb_employee_checking
        inner join tb_employee on tb_employee_checking.empId = tb_employee.empId
      <!--  <if test="empcheck">
        <where>
            <if test="empcheck.employee.empid!= null">
                empid=#{empid}
            </if>

        </where>
        </if>-->
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_employee_checking
        where empCheckingId = #{empcheckingid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hfxt.cmp.model.EmpChecking">
    insert into tb_employee_checking (empCheckingId, empId, cheTime, 
      cheStatus, empCheckDesc)
    values (#{empcheckingid,jdbcType=INTEGER}, #{empid,jdbcType=INTEGER}, #{chetime,jdbcType=TIMESTAMP}, 
      #{chestatus,jdbcType=INTEGER}, #{empcheckdesc,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.hfxt.cmp.model.EmpChecking">
        insert into tb_employee_checking
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empcheckingid != null">
                empCheckingId,
            </if>
            <if test="empid != null">
                empId,
            </if>
            <if test="chetime != null">
                cheTime,
            </if>
            <if test="chestatus != null">
                cheStatus,
            </if>
            <if test="empcheckdesc != null">
                empCheckDesc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empcheckingid != null">
                #{empcheckingid,jdbcType=INTEGER},
            </if>
            <if test="empid != null">
                #{empid,jdbcType=INTEGER},
            </if>
            <if test="chetime != null">
                #{chetime,jdbcType=TIMESTAMP},
            </if>
            <if test="chestatus != null">
                #{chestatus,jdbcType=INTEGER},
            </if>
            <if test="empcheckdesc != null">
                #{empcheckdesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hfxt.cmp.model.EmpChecking">
        update tb_employee_checking
        <set>
            <if test="empid != null">
                empId = #{empid,jdbcType=INTEGER},
            </if>
            <if test="chetime != null">
                cheTime = #{chetime,jdbcType=TIMESTAMP},
            </if>
            <if test="chestatus != null">
                cheStatus = #{chestatus,jdbcType=INTEGER},
            </if>
            <if test="empcheckdesc != null">
                empCheckDesc = #{empcheckdesc,jdbcType=VARCHAR},
            </if>
        </set>
        where empCheckingId = #{empcheckingid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hfxt.cmp.model.EmpChecking">
    update tb_employee_checking
    set empId = #{empid,jdbcType=INTEGER},
      cheTime = #{chetime,jdbcType=TIMESTAMP},
      cheStatus = #{chestatus,jdbcType=INTEGER},
      empCheckDesc = #{empcheckdesc,jdbcType=VARCHAR}
    where empCheckingId = #{empcheckingid,jdbcType=INTEGER}
  </update>
</mapper>