<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.EmployeeMapper">
    <resultMap id="EmployeeBean" type="com.hfxt.cmp.model.Employee">
        <id column="empId" jdbcType="INTEGER" property="empid"/>
        <result column="empName" jdbcType="VARCHAR" property="empname"/>
        <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
        <result column="loginPwd" jdbcType="VARCHAR" property="loginpwd"/>
        <result column="empAddress" jdbcType="VARCHAR" property="empaddress"/>
        <result column="empSex" jdbcType="INTEGER" property="empsex"/>
        <result column="empBirth" jdbcType="TIMESTAMP" property="empbirth"/>
        <result column="empStauts" jdbcType="INTEGER" property="empstauts"/>
        <result column="empHead" jdbcType="VARCHAR" property="emphead"/>
        <result column="empDesc" jdbcType="VARCHAR" property="empdesc"/>
        <result column="empQQ" jdbcType="VARCHAR" property="empqq"/>
        <result column="empEntryTime" jdbcType="TIMESTAMP" property="empentrytime"/>
        <result column="empMajor" jdbcType="VARCHAR" property="empmajor"/>
        <result column="empEmail" jdbcType="VARCHAR" property="empemail"/>
        <result column="empPhone" jdbcType="VARCHAR" property="empphone"/>
        <result column="empRole" jdbcType="INTEGER" property="emprole"/>
    </resultMap>
    <select id="getEmployeeByName" resultMap="EmployeeBean">
         select empId, empName, loginName, loginPwd ,empRole from tb_employee
         where loginName = #{loginName}
    </select>
    <select id="getEmployee" resultMap="EmployeeBean">
        select * from tb_employee
    </select>
    <delete id="delEmployee" statementType="CALLABLE" parameterType="java.util.Map">
        {
          call del_employee(
            #{map.empId,jdbcType=INTEGER,mode=IN},#{map.delCount,jdbcType=INTEGER,mode=OUT}
          )
        }
    </delete>
    <insert id="addEmployee" parameterType="com.hfxt.cmp.model.Employee">
    insert into tb_employee (empId, empName, loginName, 
      loginPwd, empAddress, empSex, 
      empBirth, empStauts, empDesc, empQQ,
      empEntryTime, empMajor, empEmail, 
      empPhone, empRole,empHead)
    values (#{emp.empid,jdbcType=INTEGER}, #{emp.empname,jdbcType=VARCHAR}, #{emp.loginname,jdbcType=VARCHAR},
      #{emp.loginpwd,jdbcType=VARCHAR}, #{emp.empaddress,jdbcType=VARCHAR}, #{emp.empsex,jdbcType=INTEGER},
      #{emp.empbirth,jdbcType=TIMESTAMP}, #{emp.empstauts,jdbcType=INTEGER}, #{emp.empdesc,jdbcType=VARCHAR},
      #{emp.empqq,jdbcType=VARCHAR}, #{emp.empentrytime,jdbcType=TIMESTAMP}, #{emp.empmajor,jdbcType=VARCHAR},
      #{emp.empemail,jdbcType=VARCHAR}, #{emp.empphone,jdbcType=VARCHAR}, #{emp.emprole,jdbcType=INTEGER}
      #{emp.emphead,jdbcType=VARCHAR})
  </insert>
    <update id="updateEmployee">
        update tb_employee
        <set>
            <if test="emp.empname != null and emp.empname != ''">
                empName = #{emp.empname,jdbcType=VARCHAR},
            </if>
            <if test="emp.loginname != null and emp.loginname != ''">
                loginName = #{emp.loginname,jdbcType=VARCHAR},
            </if>
            <if test="emp.loginpwd != null and emp.loginpwd != ''">
                loginPwd = #{emp.loginpwd,jdbcType=VARCHAR},
            </if>
            <if test="emp.empaddress != null and emp.empaddress != ''">
                empAddress = #{emp.empaddress,jdbcType=VARCHAR},
            </if>
            <if test="emp.empsex != null and emp.empsex &gt; 0 and emp.empsex &lt; 2">
                empSex = #{emp.empsex,jdbcType=INTEGER},
            </if>
            <if test="emp.empbirth != null and emp.empbirth != ''">
                empBirth = #{emp.empbirth,jdbcType=TIMESTAMP},
            </if>
            <if test="emp.empstauts != null and emp.empstauts &gt; 0 and emp.empstauts &lt; 2">
                empStauts = #{emp.empstauts,jdbcType=INTEGER}
            </if>
            <if test="emp.empdesc != null and emp.empdesc != ''">
                empDesc = #{emp.empdesc,jdbcType=VARCHAR},
            </if>
            <if test="emp.empqq != null and emp. != ''">
                empQQ = #{emp.empqq,jdbcType=VARCHAR},
            </if>
            <if test="emp.empentrytime != null and emp.empentrytime != ''">
                empEntryTime = #{emp.empentrytime,jdbcType=TIMESTAMP},
            </if>
            <if test="emp.empmajor != null and emp.empmajor != ''">
                empMajor = #{emp.empmajor,jdbcType=VARCHAR},
            </if>
            <if test="emp.empemail != null and emp.empemail != ''">
                empEmail = #{emp.empemail,jdbcType=VARCHAR},
            </if>
            <if test="emp.empphone != null and emp.empphone != ''">
                empPhone = #{emp.empphone,jdbcType=VARCHAR},
            </if>
            <if test="emp.emprole != null and emp.empstauts &gt; 0 and emp.empstauts &lt; 5">
                empRole = #{emp.emprole,jdbcType=INTEGER},
            </if>
            <if test="emp.emphead != null and emp.emphead != ''">
                empHead = #{emp.emphead,jdbcType=VARCHAR},
            </if>
        </set>
        where empId = #{emp.empid,jdbcType=INTEGER}
    </update>
</mapper>