<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.EmployeeMapper">
    <resultMap id="EmployeeBean" type="com.hfxt.cmp.model.Employee">
        <id column="empId" jdbcType="INTEGER" property="empid"/>
        <result column="empName" jdbcType="VARCHAR" property="empname"/>
        <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
        <result column="loginPwd" jdbcType="VARCHAR" property="loginpwd"/>
        <result column="empAddress" jdbcType="VARCHAR" property="empaddress"/>
        <result column="empSex" jdbcType="INTEGER" property="empsex"/>
        <result column="empBirth" jdbcType="TIMESTAMP" property="empbirth"/>
        <result column="empStauts" jdbcType="INTEGER" property="empstauts"/>
        <result column="empDesc" jdbcType="VARCHAR" property="empdesc"/>
        <result column="empQQ" jdbcType="VARCHAR" property="empqq"/>
        <result column="empEntryTime" jdbcType="TIMESTAMP" property="empentrytime"/>
        <result column="empMajor" jdbcType="VARCHAR" property="empmajor"/>
        <result column="empEmail" jdbcType="VARCHAR" property="empemail"/>
        <result column="empPhone" jdbcType="VARCHAR" property="empphone"/>
        <result column="empRole" jdbcType="INTEGER" property="emprole"/>
    </resultMap>
    <sql id="Base_Column_List">
        empId, empName, loginName, loginPwd, empAddress, empSex, empBirth, empStauts, empDesc, empQQ,
        empEntryTime, empMajor, empEmail, empPhone, empRole
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="EmployeeBean">
        select
        <include refid="Base_Column_List"/>
        from tb_employee
        where empId = #{empid,jdbcType=INTEGER}
    </select>
    <select id="getEmployeeByName" resultMap="EmployeeBean">
         select empId, empName, loginName, loginPwd ,empRole from tb_employee
         where loginName = #{loginName}
    </select>
    <select id="getEmployee" resultMap="EmployeeBean">
        select * from tb_employee
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_employee
    where empId = #{empid,jdbcType=INTEGER}
  </delete>
    <delete id="delEmployee">
        delete from tb_employee where empId = #{empId}
    </delete>
    <insert id="insert" parameterType="com.hfxt.cmp.model.Employee">
    insert into tb_employee (empId, empName, loginName, 
      loginPwd, empAddress, empSex, 
      empBirth, empStauts, empDesc, empQQ,
      empEntryTime, empMajor, empEmail, 
      empPhone, empRole)
    values (#{empid,jdbcType=INTEGER}, #{empname,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, 
      #{loginpwd,jdbcType=VARCHAR}, #{empaddress,jdbcType=VARCHAR}, #{empsex,jdbcType=INTEGER}, 
      #{empbirth,jdbcType=TIMESTAMP}, #{empstauts,jdbcType=INTEGER}, #{empdesc,jdbcType=VARCHAR},
      #{empqq,jdbcType=VARCHAR}, #{empentrytime,jdbcType=TIMESTAMP}, #{empmajor,jdbcType=VARCHAR},
      #{empemail,jdbcType=VARCHAR}, #{empphone,jdbcType=VARCHAR}, #{emprole,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.hfxt.cmp.model.Employee">

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hfxt.cmp.model.Employee">
        update tb_employee
        <set>
            <if test="empname != null">
                empName = #{empname,jdbcType=VARCHAR},
            </if>
            <if test="loginname != null">
                loginName = #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="loginpwd != null">
                loginPwd = #{loginpwd,jdbcType=VARCHAR},
            </if>
            <if test="empaddress != null">
                empAddress = #{empaddress,jdbcType=VARCHAR},
            </if>
            <if test="empsex != null">
                empSex = #{empsex,jdbcType=INTEGER},
            </if>
            <if test="empbirth != null">
                empBirth = #{empbirth,jdbcType=TIMESTAMP},
            </if>
            <if test="empstauts != null">
                empStauts = #{empstauts,jdbcType=INTEGER}
            </if>
            <if test="empdesc != null">
                empDesc = #{empdesc,jdbcType=VARCHAR},
            </if>
            <if test="empqq != null">
                empQQ = #{empqq,jdbcType=VARCHAR},
            </if>
            <if test="empentrytime != null">
                empEntryTime = #{empentrytime,jdbcType=TIMESTAMP},
            </if>
            <if test="empmajor != null">
                empMajor = #{empmajor,jdbcType=VARCHAR},
            </if>
            <if test="empemail != null">
                empEmail = #{empemail,jdbcType=VARCHAR},
            </if>
            <if test="empphone != null">
                empPhone = #{empphone,jdbcType=VARCHAR},
            </if>
            <if test="emprole != null">
                empRole = #{emprole,jdbcType=INTEGER},
            </if>
        </set>
        where empId = #{empid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hfxt.cmp.model.Employee">

  </update>
</mapper>