<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.MajorMapper">
    <resultMap id="MajorBean" type="com.hfxt.cmp.model.Major">
        <id column="majorId" jdbcType="INTEGER" property="majorid"/>
        <result column="majorName" jdbcType="VARCHAR" property="majorname"/>
        <result column="majorDesc" jdbcType="VARCHAR" property="majordesc"/>
    </resultMap>
    <sql id="Base_Column_List">
        majorId, majorName, majorDesc
    </sql>
    <insert id="addmajor">
        INSERT INTO tb_major (majorName,majorDesc) VALUES(#{majorname},#{majordesc})
    </insert>
    <update id="updatemajor">
        UPDATE  tb_major SET majorName=#{majorname},majorDesc=#{majordesc} WHERE majorId=#{majorid}
    </update>
    <delete id="deletemajor">
        DELETE FROM tb_major WHERE majorid=#{majorid}
    </delete>
    <select id="majorList" resultMap="MajorBean">
        select * from tb_major
    </select>
    <select id="selectbyid" resultType="com.hfxt.cmp.model.Major">
        SELECT * FROM tb_major WHERE majorId=#{majorid}
    </select>

</mapper>