<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.StuCheckingMapper">
    <resultMap id="StuCheckingBean" type="com.hfxt.cmp.model.StuChecking">
        <id column="stuCheckingId" jdbcType="INTEGER" property="stucheckingid"/>
        <result column="cheTime" jdbcType="TIMESTAMP" property="chetime"/>
        <result column="cheStatus" jdbcType="INTEGER" property="chestatus"/>
        <result column="stuCheckingDesc" jdbcType="VARCHAR" property="stucheckingdesc"/>
        <collection property="student" resultMap="com.hfxt.cmp.mapper.StudentMapper.StudentBean"/>
    </resultMap>
    <sql id="Base_Column_List">
        stuCheckingId, stuId, cheTime, cheStatus, stuCheckingDesc
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="StuCheckingBean">
        select *
        from tb_student_checking
         inner join tb_student on tb_student_checking.stuid = tb_student.stuid
        where stuCheckingId = #{stucheckingid,jdbcType=INTEGER}
    </select>
    <select id="getStuCheck"  parameterType="com.hfxt.cmp.model.StuChecking"  resultMap="StuCheckingBean">
        select *
        from tb_student_checking
        inner join tb_student on tb_student_checking.stuId = tb_student.stuId
        <if test="stucheck!=null">
            <where>
                <if test="stucheck.seaName!= null and stucheck.seaName!='' ">
                    and stuName like CONCAT('%',#{stucheck.seaName},'%')
                </if>

                <if test="stucheck.startDate != null">
                    and cheTime <![CDATA[>=]]> #{stucheck.startDate}
                </if>

                <if test="stucheck.endDate != null">
                    and cheTime <![CDATA[<=]]>  #{stucheck.endDate}
                </if>

            </where>
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_student_checking
    where stuCheckingId = #{stucheckingid,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.hfxt.cmp.model.StuChecking">
    insert into tb_student_checking (stuCheckingId, stuId, cheTime, 
      cheStatus, stuCheckingDesc)
    values (0, #{stucheck.student.stuid,jdbcType=INTEGER}, #{stucheck.chetime,jdbcType=TIMESTAMP},
      #{stucheck.chestatus,jdbcType=INTEGER}, #{stucheck.stucheckingdesc,jdbcType=VARCHAR})
  </insert>

    <update id="update" parameterType="com.hfxt.cmp.model.StuChecking">
        update tb_student_checking
        <set>
           <!-- <if test="stucheck.student.stuid != null and stucheck.student.stuid>0">
            stuId = #{stucheck.student.stuid,jdbcType=INTEGER},
        </if>-->
            <if test="stucheck.chetime != null">
                cheTime = #{stucheck.chetime,jdbcType=TIMESTAMP},
            </if>
            <if test="stucheck.chestatus != null">
                cheStatus = #{stucheck.chestatus,jdbcType=INTEGER},
            </if>
            <if test="stucheck.stucheckingdesc != null">
                stuCheckingDesc = #{stucheck.stucheckingdesc,jdbcType=VARCHAR},
            </if>
        </set>
        where stuCheckingId = #{stucheck.stucheckingid,jdbcType=INTEGER}
    </update>
</mapper>