<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.StudentMapper">
    <resultMap id="StudentBean" type="com.hfxt.cmp.model.Student">
        <id column="stuId" jdbcType="INTEGER" property="stuid"/>
        <result column="stuName" jdbcType="VARCHAR" property="stuname"/>
        <result column="stuSex" jdbcType="INTEGER" property="stusex"/>
        <result column="stuBirth" jdbcType="TIMESTAMP" property="stubirth"/>
        <result column="stuPhone" jdbcType="VARCHAR" property="stuphone"/>
        <result column="stuCode" jdbcType="VARCHAR" property="stucode"/>
        <result column="stuAddress" jdbcType="VARCHAR" property="stuaddress"/>
        <result column="stuContact" jdbcType="VARCHAR" property="stucontact"/>
        <result column="stuHead" jdbcType="VARCHAR" property="stuhead"/>
        <result column="stuDesc" jdbcType="VARCHAR" property="studesc"/>
        <result column="stuQQ" jdbcType="VARCHAR" property="stuqq"/>
        <result column="stuEmail" jdbcType="VARCHAR" property="stuemail"/>
        <result column="stuEntryTime" jdbcType="TIMESTAMP" property="stuentrytime"/>
        <result column="stuDegree" jdbcType="VARCHAR" property="studegree"/>
        <collection property="clazz" resultMap="com.hfxt.cmp.mapper.ClazzMapper.ClazzBean"/>
    </resultMap>
    <sql id="Base_Column_List">
        stuId, stuName, stuSex, classId, stuBirth, stuPhone, stuCode, stuAddress, stuContact,
        stuDesc, stuQQ, stuEmail, stuEntryTime, stuDegree
    </sql>
    <select id="getStuCodeIsEmpty" resultType="java.lang.Integer">
        select count(*) from tb_student where stuCode = #{stuCode,jdbcType=VARCHAR}
    </select>
    <select id="getStudent" resultMap="StudentBean">
        select * from tb_student
        inner join tb_clazz on tb_student.classId = tb_clazz.clazzId
        <if test="stu != null">
            <where>
                <if test="stu.seaName != null and stu.seaName != ''">
                    and stuName like Concat('%',#{stu.seaName,jdbcType=VARCHAR},'%')
                </if>
                <if test="stu.clazzId != null and stu.clazzId != null and stu.clazzId &gt; 0">
                    and classId = #{stu.clazzId,jdbcType=INTEGER}
                </if>
                <if test="stu.startDate != null">
                    and stuEntryTime &gt; Date(#{stu.startDate,jdbcType=TIMESTAMP})
                </if>
                <if test="stu.endDate != null">
                    and stuEntryTime &lt; Date(#{stu.endDate,jdbcType=TIMESTAMP})
                </if>
            </where>
        </if>
    </select>
    <select id="getStuById" resultMap="StudentBean">
        select * from tb_student
        inner join tb_clazz on tb_student.classId = tb_clazz.clazzId
        where tb_student.stuId = #{stuId,jdbcType=INTEGER}
    </select>
    <delete id="delStudent" statementType="CALLABLE" parameterType="java.util.Map">
        {
          call del_student(
            #{map.stuId,jdbcType=INTEGER,mode=IN},#{map.delCount,jdbcType=INTEGER,mode=OUT}
          )
        }
    </delete>
    <insert id="addStudent" parameterType="com.hfxt.cmp.model.Student">
        insert into tb_student (stuId, stuName, stuSex,
          classId, stuBirth, stuPhone,
          stuCode, stuAddress, stuContact,stuHead,
          stuDesc, stuQQ, stuEmail,
          stuEntryTime, stuDegree)
        values (0, #{stu.stuname,jdbcType=VARCHAR}, #{stu.stusex,jdbcType=INTEGER},
          #{stu.clazz.clazzid,jdbcType=INTEGER}, #{stu.stubirth,jdbcType=TIMESTAMP}, #{stu.stuphone,jdbcType=VARCHAR},
          #{stu.stucode,jdbcType=VARCHAR}, #{stu.stuaddress,jdbcType=VARCHAR}, #{stu.stucontact,jdbcType=VARCHAR},
          #{stu.stuhead,jdbcType=VARCHAR},#{stu.studesc,jdbcType=VARCHAR}, #{stu.stuqq,jdbcType=VARCHAR},
          #{stu.stuemail,jdbcType=VARCHAR},#{stu.stuentrytime,jdbcType=TIMESTAMP}, #{stu.studegree,jdbcType=VARCHAR})
    </insert>
    <update id="updateStudent" parameterType="com.hfxt.cmp.model.Student">
        update tb_student
        <set>
            <if test="stu.stuname != null">
                stuName = #{stu.stuname,jdbcType=VARCHAR},
            </if>
            <if test="stu.stusex != null">
                stuSex = #{stu.stusex,jdbcType=INTEGER},
            </if>
            <if test="stu.clazz != null and stu.clazz.clazzid != null and stu.clazz.clazzid > 0">
                classId = #{stu.clazz.clazzid,jdbcType=INTEGER},
            </if>
            <if test="stu.stubirth != null">
                stuBirth = #{stu.stubirth,jdbcType=TIMESTAMP},
            </if>
            <if test="stu.stuphone != null">
                stuPhone = #{stu.stuphone,jdbcType=VARCHAR},
            </if>
            <if test="stu.stuaddress != null">
                stuAddress = #{stu.stuaddress,jdbcType=VARCHAR},
            </if>
            <if test="stu.stucontact != null">
                stuContact = #{stu.stucontact,jdbcType=VARCHAR},
            </if>
            <if test="stu.stuhead != null">
                stuHead = #{stu.stuhead,jdbcType=VARCHAR},
            </if>
            <if test="stu.studesc != null">
                stuDesc = #{stu.studesc,jdbcType=VARCHAR},
            </if>
            <if test="stu.stuqq != null">
                stuQQ = #{stu.stuqq,jdbcType=VARCHAR},
            </if>
            <if test="stu.stuemail != null">
                stuEmail = #{stu.stuemail,jdbcType=VARCHAR},
            </if>
            <if test="stu.stuentrytime != null">
                stuEntryTime = #{stu.stuentrytime,jdbcType=TIMESTAMP},
            </if>
            <if test="stu.studegree != null">
                stuDegree = #{stu.studegree,jdbcType=VARCHAR},
            </if>
        </set>
        where stuId = #{stu.stuid,jdbcType=INTEGER}
    </update>
</mapper>