<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.StuExperimentMapper">
    <resultMap id="StuExperimentBean" type="com.hfxt.cmp.model.StuExperiment">
        <id column="expId" jdbcType="INTEGER" property="expid"/>
        <result column="expContent" jdbcType="VARCHAR" property="expcontent"/>
        <result column="expTime" jdbcType="TIMESTAMP" property="exptime"/>
        <result column="expScore" jdbcType="INTEGER" property="expscore"/>
        <result column="expDesc" jdbcType="VARCHAR" property="expdesc"/>
        <collection property="employee" resultMap="com.hfxt.cmp.mapper.EmployeeMapper.EmployeeBean"/>
        <collection property="student" resultMap="com.hfxt.cmp.mapper.StudentMapper.StudentBean"/>
        <collection property="subject" resultMap="com.hfxt.cmp.mapper.SubjectMapper.SubjectBean"/>
        <collection property="experimentType" resultMap="com.hfxt.cmp.mapper.ExperimentTypeMapper.BaseResultMap"/>
    </resultMap>
    <select id="getStuExperiment" resultMap="StuExperimentBean">
        select * from tb_student_experiment
        inner join tb_experiment_type on tb_student_experiment.expType = tb_experiment_type.typId
        inner join tb_student on tb_student_experiment.stuId = tb_student.stuId
        inner join tb_subject on tb_student_experiment.subId = tb_subject.subId
        inner join tb_employee on tb_student_experiment.empId = tb_employee.empId
    </select>
    <delete id="delStuExperiment">
        delete from tb_student_experiment
        where tb_student_experiment.expId = #{expId,jdbcType=INTEGER}
    </delete>
    <insert id="addStuExperiment">
        insert into tb_student_experiment(
            expId,empId,subId,stuId,expContent,
            expTime,expType,expScore,expDesc
        )
        values(
            0,#{stuExp.employee.empid,jdbcType=INTEGER},#{stuExp.subject.subid,jdbcType=INTEGER},
            #{stuExp.student.stuid,jdbcType=INTEGER},#{stuExp.expcontent,jdbcType=VARCHAR},now(),
            #{stuExp.experimentType.typeid,jdbcType=INTEGER},#{stuExp.expscore,jdbcType=INTEGER},
            #{stuExp.expdesc,jdbcType=VARCHAR},
        )
    </insert>
    <update id="updateStuExperiment">
        update tb_student_experiment
        <set>
            <if test="stuExp.expscore != null and stuExp.expscore &gt; 0">
                expScore = #{stuExp.expscore,jdbcType=INTEGER},
            </if>
            <if test="stuExp.expdesc != null and stuExp.expdesc != ''">
                expDesc = #{stuExp.expdesc,jdbcType=VARCHAR},
            </if>
        </set>
        where expId = #{stuExp.expid,jdbcType=INTEGER}
    </update>
</mapper>