<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.cmp.mapper.SubjectMapper">
    <resultMap id="SubjectBean" type="com.hfxt.cmp.model.Subject">
        <id column="subId" jdbcType="INTEGER" property="subid"/>
        <result column="subName" jdbcType="VARCHAR" property="subname"/>
        <result column="subDesc" jdbcType="VARCHAR" property="subdesc"/>
    </resultMap>
    <sql id="Base_Column_List">
        subId, subName, subDesc
    </sql>
    <insert id="addsub">
        INSERT INTO tb_subject (subName,subDesc) VALUES(#{sub.subname},#{sub.subdesc})
    </insert>
    <update id="updatesub">
        UPDATE  tb_subject SET subName=#{subname},subDesc=#{subdesc} WHERE subId=#{subid}
    </update>
    <delete id="deletesub">
        DELETE FROM  tb_subject WHERE subId=#{subid}
    </delete>
    <select id="getAll" resultMap="SubjectBean">
        SELECT * FROM tb_subject
    </select>
    <select id="selectbyname" resultType="com.hfxt.cmp.model.Subject">
        select * from tb_major where majorName LIKE Concat('%',#{subname,jdbcType=VARCHAR},'%')
    </select>
    <select id="selectbyid" resultType="com.hfxt.cmp.model.Subject">
        SELECT * FROM tb_subject where subId=#{subid}
    </select>
    <select id="getlist" resultType="com.hfxt.cmp.model.Subject">
        select * from tb_major where majorName LIKE Concat('%',#{subname,jdbcType=VARCHAR},'%')
    </select>
</mapper>