<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry location="C:\Users\Administrator\.IntelliJIdea2017.2\config\jdbc-drivers\MySQL Connector\J\5.1.40\mysql-connector-java-5.1.40-bin.jar"/>

    <context id="context" targetRuntime="MyBatis3">

        <!-- 生成一对一配置 -->
        <!-- <plugin houseType="cc.bandaotixi.plugins.OneToOnePlugin"></plugin> -->

        <!-- 生成一对多配置 -->
        <!-- <plugin houseType="cc.bandaotixi.plugins.OneToManyPlugin" /> -->

        <!-- 批量插入和批量更新 -->
        <!-- <plugin houseType="cc.bandaotixi.plugins.BatchInsertPlugin" /> -->

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>

            <property name="suppressDate" value="false"/>
        </commentGenerator>

        <!-- 数据库连接配置 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/cmp"
                        userId="root" password="123456"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体生成配置 -->
        <javaModelGenerator targetPackage="com.hfxt.cmp.model" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- Mapper XML文件配置 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口配置 -->
        <javaClientGenerator targetPackage="com.hfxt.cmp.mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 映射表配置 -->
        <table tableName="tb_clazz" domainObjectName="Clazz" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
            <columnOverride column="clazzId" javaType="java.lang.Integer"/>
        </table>
        <table tableName="tb_employee_clazz" domainObjectName="EmployeeClazz" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
            <columnOverride column="empClazzId" javaType="java.lang.Integer"/>
        </table>
    </context>
</generatorConfiguration>